# Namespace std
snippet std
	using namespace std;
# Template for programming challenges
snippet cm
	#include <bits/stdc++.h>

	using namespace std;
	using ll = long long;
	using pll = pair<ll, ll>;
	using llit = istream_iterator<ll>;

	int main()
	{
		${1}
		return 0;
	}
