[submodule "bundle/ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdcommenter"]
	path = pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/textobj-word-column"]
	path = pack/bundle/start/textobj-word-column
	url = https://github.com/coderifous/textobj-word-column.vim.git
[submodule "bundle/lightline"]
	path = pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/EasyAlign"]
	path = pack/bundle/start/EasyAlign
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/snipmate"]
	path = pack/bundle/start/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/mw-utils"]
	path = pack/bundle/start/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = pack/bundle/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-gtags-cscope"]
	path = pack/bundle/start/vim-gtags-cscope
	url = https://github.com/thorstel/vim-gtags-cscope.git
[submodule "pack/bundle/start/vim-ps1"]
	path = pack/bundle/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
